# Ignore everything by default
/*

# Except these source files
!/main.py
!/main.spec
!/build.py
!/generate_icons.py
!/icon.png
!/icon.ico
!/icon.icns
!/actions

# Keep the .gitignore itself tracked
!/.gitignore
